.fs-4{
    font-weight: bolder;
    letter-spacing: 2px;
    line-height: 40px;
    margin-left: 7px;
}
.nav-link{
    color: black;
    transition: 0.5s ease-in-out;
}
.nav-link:hover{
    color: white;
    border: 1px solid black;
    background-color: black;
}
.header{
    background-color: #E78895;
}
body{
    background-color: #FFE4C9;
}
.col-lg-6{
    display: inline-block;
    margin-left: 50px;
    margin-top: 70px;
}
.lead{
    width: 570px;
}
.heartsvg1{
    position:relative;
    bottom: 200px;
    left:400px;
    height: 100px;
    opacity: 0.2;
}
.heartsvg2{
    position:relative;
    bottom: 350px;
    left:1100px;
    height: 100px;
    opacity: 0.2;
}
.heartsvg3{
    position:relative;
    top:100px;
    right:200px;
    height: 100px;
    opacity: 0.2;
}
.card-img-top{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card{
    display: inline-block;
    border-radius: 20px;
    background-color: #BED1CF;
}
.text-box{
    margin-bottom: 15px;
    height: 33px;
    margin-left: 15px;
    border-radius: 15px;
    border:2px solid rgba(0, 0, 0, 0.342);
}
.hrr{
    margin: 0;
}
.card-title{
    color: rgba(0, 0, 0, 0.514);
    margin-bottom: 20px;
    margin-left: 15px;
    letter-spacing: 2px;
}
.helio{
    border: 2px solid white;
    display: inline-block;
}